.header{
    position: relative;
    padding: calc(var(--section-padding-top) * 3) 10%;
}

.header h1{
    font-size: 2rem;
    width: 40%;
    font-weight: 400;
    line-height: 200%;
}

.linkWrapper{
    margin-top: 3vw;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header h1{
        font-size: 2rem;
        width: 60%;
        font-weight: 400;
        line-height: 200%;
    }
    
    .linkWrapper{
        margin-top: 4.5vw;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header h1{
    font-size: 2.3rem;
    width: 95%;
    text-align: center;
    font-weight: 400;
    line-height: 200%;
}

.linkWrapper{
    margin-top: 8vw;
}
}