.listings{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 80vh;
    padding: 1vw 10%;
}

.listingHeading{
    text-align: center;
    padding: 2vw;
    font-size: 5rem;
}

.collections{
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
 .listings{
    padding: 1.5vw 10%;
 }
 .listingHeading{
    padding: 3vw;
}
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .listings{
        width: 90%;
        padding: 2vw 5%;
    }
    .listingHeading{
        padding: 4vw;
        font-size: 4.5rem;
    }
    .collections{
        padding: 4vw 0;
        gap: 4vw;
    }
}
